{% load staticfiles %}

<div id="footer">
    <div class="d-flex">
        <div class="mr-auto">
            CDCS Version {% include "theme/footer/version.html" %}
        </div>
        <div id="footer-right" class="d-flex">
            {% include 'core_website_app/user/footer_menu.html' %}
            <span>
                Powered by:
                <img src="{% static 'img/cdcs_logo.png' %}" alt="cdcs-logo" class="cdcs-logo"/>
                <a href="https://github.com/usnistgov/mdcs">CDCS</a>
            </span>
        </div>
    </div>

</div>
