core_main_app==1.0.0-alpha4
core_website_app==1.0.0-alpha4
core_oaipmh_common_app==1.0.0-alpha4
core_oaipmh_harvester_app==1.0.0-alpha4
core_oaipmh_provider_app==1.0.0-alpha4
core_dashboard_app==1.0.0-alpha4
core_curate_app==1.0.0-alpha4
core_explore_common_app==1.0.0-alpha4
core_explore_example_app==1.0.0-alpha4
core_explore_keyword_app==1.0.0-alpha2
core_federated_search_app==1.0.0-alpha3
core_explore_federated_search_app==1.0.0-alpha4
core_explore_oaipmh_app==1.0.0-alpha4
core_composer_app==1.0.0-alpha4
core_exporters_app==1.0.0-alpha4
django-rest-swagger==2.1.2

