core_main_app==1.16.*
core_composer_app==1.16.*
core_curate_app==1.16.*
core_dashboard_common_app==1.16.*
core_dashboard_app==1.16.*
core_explore_example_app==1.16.*
core_explore_keyword_app==1.16.*
core_explore_federated_search_app==1.16.*
core_explore_oaipmh_app==1.16.*
core_exporters_app==1.16.*
core_federated_search_app==1.16.*
core_oaipmh_provider_app==1.16.*
core_website_app==1.16.*
core_module_blob_host_app==1.16.*
core_module_remote_blob_host_app==1.16.*
core_module_advanced_blob_host_app==1.16.*
core_module_excel_uploader_app==1.16.*
core_module_periodic_table_app==1.16.*
core_module_chemical_composition_app==1.16.*
core_module_chemical_composition_simple_app==1.16.*
core_module_text_area_app==1.16.*
core_file_preview_app==1.14.*
core_linked_records_app==1.0.0-beta7
