core_composer_app==1.0.0-alpha6
core_curate_app==1.0.0-alpha6
core_dashboard_app==1.0.0-alpha6
core_explore_example_app==1.0.0-alpha6
core_explore_keyword_app==1.0.0-alpha4
core_explore_federated_search_app==1.0.0-alpha6
core_explore_oaipmh_app==1.0.0-alpha6
core_exporters_app==1.0.0-alpha6
core_federated_search_app==1.0.0-alpha5
core_oaipmh_provider_app==1.0.0-alpha6
core_website_app==1.0.0-alpha6
