core_main_app[mongodb]==2.0.0-beta1
core_composer_app==2.0.0-beta1
core_curate_app==2.0.0-beta1
core_dashboard_common_app==2.0.0-beta1
core_dashboard_app==2.0.0-beta1
core_explore_example_app==2.0.0-beta1
core_explore_keyword_app==2.0.0-beta1
core_explore_federated_search_app==2.0.0-beta1
core_explore_oaipmh_app==2.0.0-beta1
core_exporters_app==2.0.0-beta1
core_federated_search_app==2.0.0-beta1
core_oaipmh_provider_app==2.0.0-beta1
core_website_app==2.0.0-beta1
core_module_blob_host_app==2.0.0-beta1
core_module_remote_blob_host_app==2.0.0-beta1
core_module_advanced_blob_host_app==2.0.0-beta1
core_module_excel_uploader_app==2.0.0-beta1
core_module_periodic_table_app==2.0.0-beta1
core_module_chemical_composition_app==2.0.0-beta1
core_module_chemical_composition_simple_app==2.0.0-beta1
core_module_text_area_app==2.0.0-beta1
core_file_preview_app==2.0.0-beta1
core_linked_records_app==2.0.0-beta1
