.btn-custom {
    color: #c0c0c0;
    background-color: #563920;
    border-radius: 10px;
    background-size: 0em;
    font-size: inherit;
    line-height: 0.5em;
    margin: 0.2em 0 0.2em 0
}

.btn-custom:hover {
    color: #fff;
    background-color: rgb(195, 125, 45);
    transition: color 0.2s ease-in-out
}

