#nav {
    width: 100%;
    margin-top: 0;
    position: sticky;
    top:0;
    display: inline-block;
    z-index: 500;
    font-size: 0.80em;
    width: 100%;
}

li.divider {
    border-bottom: 1px solid #888;
    margin: 0.25em 5%;
    width: 90%;
}

.submenu {
    margin-top: 1em;
}

.submenu .item {
    padding-bottom: 0.75em;
    border: 1px solid black
}

.submenu .item .text {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.submenu .item .icon {
    background-color: rgb(190, 120, 40);
    background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("../img/bg01.png");
    border-radius: 100%;
    box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
    color: #fff;
    cursor: default;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    margin: 0.5em 1.25em 0.25em 0.25em;
    width: 2em;
    font-size: 1.5em;

    float: left;
    text-align: center;
}

.small-logo {
    width: 3.5em;
    margin-left: 0.2em;
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}
