/**
 * @file
 * Header styles
 *
 */

#nav > ul > #nist-logo {
  float: left;
  text-align: left;
  padding-left: 2em;
}

#nav > ul > #nist-logo > a {
  margin-bottom: 0;
}

#nav > ul > #nist-logo img {
  width: 45%;
  margin-top: -0.25em;
}

.nist-menu__item {
  list-style: none;
}

.nist-footer {
    color: white;
    float: left;
    width: 100%;
    border-width: 0;
    background: #333333;
    padding: 1rem;
    position: relative;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
}

.nist-footer a {
    text-decoration: none;
    border: none;
    color: white;
}

.nist-footer a:hover {
    text-decoration: underline;
}

.nist-footer__menu-item {
    display: inline-block;
    font-size: 0.9rem;
    padding: 0;
    margin-left: 0;
}

.nist-footer__menu-item:after {
    content: '|';
    margin-right: 0.1rem;
    display: inherit;
    position: static;
    font: inherit;
    line-height: inherit;
    color: inherit;
}

.nist-footer__menu-item:last-child:after {
    content: none;
}


.cdsc-logo {
    bottom: -15px;
    width: 1.75em;
    vertical-align: middle;
    margin-left: 0;
}
