{% load static %}
<div class="row">
    <div class="row justify-content-center" id="intro">
        <div id="main-content" class="col-md-5">
            <h2>{{ CUSTOM_TITLE }}</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ullamcorper urna eu est facilisis, tempor eleifend lacus porta. 
                Cras eget tincidunt libero. Donec felis lacus, consequat vitae cursus sit amet, feugiat vitae quam. Duis elementum eget lorem quis pulvinar. 
                Etiam at euismod nisi. Praesent euismod diam non bibendum dapibus. 
                Nunc venenatis est turpis, a rhoncus mauris pulvinar id. Vestibulum viverra felis et pulvinar volutpat.
                <br>
                <b>You can find our GitHub organisation <a href="https://github.com/Meta-Genome-Org/">here.</a></b>
            </p>
            <h3>Powered by CDCS.</h3>
            <p>
                Text here.
            </p>
        </div>
        <div class="col-md-3">
            <img id="mgi-diagram" src="{% static 'core_main_app/img/mgi_diagram.jpg' %}"
                 alt="Material Genome Initiative diagram">
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-5" id="tiles">
    </div>
</div>