{% load menu %}
{% load staticfiles %}
{% load get_attribute %}
<nav id="nav">
        <ul>
            <!-- Start MDCS title left -->
            <li id="cdcs-main" style="padding:0;">
                <div id="cdcs-menu-title">
                    <a href="https://cdcs.nist.gov/" title="Configurable Data Curation System (CDCS)">
                        Materials Data Curation System
                    </a>
                </div>
            </li>
            <!-- End MDCS title left -->

            <!-- Start float left menu-->
            {% block navigation_menu %}
            {% generate_menu %}
            {% for item in menus.nodropdown %}
            <li>
                <a href="{{ item.url }}">{% if item|get_attribute:'icon' %}<i class="fas fa-{{ item.icon }}"></i>{% endif %} {{ item.title }}</a>
            </li>
            {% endfor %}
            <li class="nested">
                <a href="#">
                    Data Exploration <i class="fas fa-caret-down"></i></a>
                </a>
                <ul>
                    {% generate_menu %}
                    {% for item in menus.explorer %}
                        <li><a href="{{ item.url }}" class="cdcs-menu-item">{% if item|get_attribute:'icon' %}<i class="fas fa-{{ item.icon }}"></i>{% endif %} {{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="nested">
                <a href="#">
                    Composer <i class="fas fa-caret-down"></i>
                </a>
                <ul>
                    {% generate_menu %}
                    {% for item in menus.composer %}
                        {% if not item|get_attribute:'require_authentication' or user.is_authenticated %}<li><a href="{{ item.url }}" class="cdcs-menu-item">{% if item|get_attribute:'icon' %}<i class="fas fa-{{ item.icon }}"></i>{% endif %} {{ item.title }}</a></li>{% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endblock %}
            <!-- End float right menu-->

            <!-- Start float right menu-->
            <li class="nested float-right">
                {% if user.is_authenticated %}
                <a href="#">
                    <i class="fas fa-user-circle"></i> {{ user }} <i class="fas fa-caret-down"></i>
                </a>
                <ul>
                    {% block dashboard_menu %}
                        {% generate_menu %}

                        {% for item in menus.dashboard %}
                            <li><a href="{{ item.url }}" class="cdcs-menu-item">{% if item|get_attribute:'icon' %}<i class="fas fa-{{ item.icon }}"></i>{% endif %} {{ item.title }}</a></li>
                        {% endfor %}
                    {% endblock %}
                    <li class="divider"></li>
                    {% block user_menu %}
                        {% generate_menu %}

                        {% for item in menus.user %}
                            <li><a href="{{ item.url }}" class="cdcs-menu-item">{% if item|get_attribute:'icon' %}<i class="fas fa-{{ item.icon }}"></i>{% endif %} {{ item.title }}</a></li>
                        {% endfor %}
                    {% endblock %}
                    {% if user.is_staff %}
                    <li><a href="{% url 'admin:core_main_app_admin_home' %}" class="cdcs-menu-item"><i class="fas fa-cog"></i> Administration</a></li>
                    {% endif %}
                    <li><a href="{% url 'core_main_app_logout' %}" class="cdcs-menu-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                </ul>
                {% else %}
                    <a href="{% url 'core_main_app_login' %}">
                        <i class="fas fa-sign-in-alt"></i> Log In / Sign Up
                    </a>
                {% endif %}
            </li>
            <li class="nested float-right">
                <a href="#">
                    Help <i class="fas fa-caret-down"></i>
                </a>
                <ul>
                    {% generate_menu %}
                    {% for item in menus.help %}
                        <li><a href="{{ item.url }}" class="cdcs-menu-item">{% if item|get_attribute:'icon' %}<i class="fas fa-{{ item.icon }}"></i>{% endif %} {{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <!-- End float right menu-->

        </ul>
</nav>

